body {
    background-image: url("K-pop_boybands.jpg");
    background-color: #ff6699; /*Set back-up background as pink*/
    background-size: cover; /*Makes sure the background covers the whole page*/
    background-repeat: no-repeat; 
    background-attachment: fixed; /*Makes the background not move*/
    overflow: auto;
}

.animated {
    color: #ffff99;
    text-align: center;
    font-size: 100px;
    font-family: "Righteous";
    text-shadow: 10px 10px 5px gray;
    position: relative;
    animation: titleBounce 1.5s ease-out 1s infinite alternate; /*called the animation name, duration, timing-function, time-delay, and iteration-count*/
}

@keyframes titleBounce {
    from { /*start from 0px of the div (h1 or animated)*/
        bottom: 0px;
    }
    to { /*ending point; this will make the title to bounce up and down forever*/
        bottom: 50px;
    }
    0% { /*changes the color of the title constantly from 0% - 100%; similar as a flashing animation*/
        color: #ffff99;
    }
    25% {
        color: black;
    }
    50% {
        color: #ffff99;
    }
    75% {
        color: black;
    }
    100% {
        color: #ffff99;
    }
}

#span {
    text-shadow: 7px 7px 4px black;
}

h2 {
    color: #ff4d79; /*Makes text pink*/
    font-size: 45px;
    text-align: center;
}

p {
    font-size: 30px;
    font-weight: bold;
}

.bg-color {
    color: #0072e6;
    background-color: rgba(102, 255, 140, 0.7); /*Makes background 30% transparent*/
}

#catch-phrase {
    background-color: rgba(255, 204, 204, 0.7);
    color: #660066;
    text-align: center;
    text-shadow: 10px 10px #f0fff;
}

#pre-order {
    background-color: rgba(153, 179, 255, 0.7);
}

.pure-input-rounded {
    height: 20px;
    font-size: 14pt;
    border-radius: 2em; /*Sets the border thickness*/
    border-color: skyblue; /*Outlines border of input box to the color skyblue*/
    padding: .5em 1em;
}

#order {
    float: left;
    text-align: center;
    font-size: 30px;
    color: #3333cc; /*Makes font color purple*/
}

.place {
    background-color: rgba(191, 191, 191, 0.8); /*Gives the words gray-ish background and 20% transparent*/
    display: inline; /*Keeps words on the same line*/
}

#remember {
    color: green;
    text-align: center;
    background-color: #99ffff; /*Background color is green*/
    opacity: 0.7; /*Background is 30% transparent*/
}

#feat-list {
    color: #aaff80; /*Sets font color to green*/
    font-size: 23px;
    background-color: rgba(153, 153, 255, 0.8); /*Background is purple-ish and is 20% transparent*/
}

h3 {
    text-align: center;
    color: #ff9999;
    font-size: 40px;
}

.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    font-family: "Righteous";
    font-size: 100%;
    padding: .2em 1em;
    color: white;
    background: rgb(28, 184, 65);
    border: 3px solid #99ff99;
    border-radius: 15px;
    transition: transform 1s;
}

.pure-button:hover {
    transform: rotate(360deg); /*once cursor hovered, the button will do a 360 flip*/
    width: 200px; /*set the size of the button to shift once hovered*/
    display: inline-block; /*excludes any outside text to interfere with the button*/
    position: relative; 
}

.age {
    background-color: rgba(191, 191, 191, 0.8);
}

#got-7 {
    position: absolute;
    margin: -10px 200px;
    height: 200px;
}

#bts {
    position: absolute;
    margin: -10px 200px;
    height: 200px;
    width: 350px;
    transition: transform 2s; /*Puts transformation into action*/
}

#bts:hover {
    transform: translate(400px,0px); /*When the cursor is hovered over image, the image will move 400 pixels to the right*/
}

#big-bang {
    position: absolute;
    margin: -10px 200px;
    height: 200px;
    width: 350px;
    transition: transform 5s;
}

#big-bang:hover {
    transform: translate(850px,0px);
}

#a1 {
    text-decoration: none;
    color: MediumTurquoise;
    font-family: fantasy;
    font-size: 15pt;
}

.button {
    padding: 3px;
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    background: -webkit-linear-gradient(top, #FF1493, #2f5f63);
    background: linear-gradient(top, #FF1493, #2f5f63); /*Creates gradient effect going down from pink to turquoise on button*/
    border-radius: 15px;
    box-shadow: 0 8px 0 #00BFFF; /*Gives button shadow at the bottom*/
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); /*Gives text a shadow of black*/
}

.video_poster {
    background-repeat: no-repeat;
    background-position: 10px 140px; /*Pushes background 10 pixels right and 140 pixels down*/
    width: 834px;
    height: 570px;
    background-size: 810px 429px;
    background-image: url(kpop-dance.png);
}

video {
    padding-top: 92px; /*Video pushes 92 pixels from the top*/
}

#gradient {
    width: 1150px;
    height: 657px;
    background: radial-gradient(#FFFF99 38%, yellow 48%, rgba(0,0,0,0) 70%); /*Creates gradient to an ellipse form. The inside color is light yellow and the middle is yellow and the outside is black but 100% transparent*/
}
