body {
    background-image: url("K-pop_boybands.jpg");
    background-color: #ff6699;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #ffff99;
    text-align: center;
    font-size: 100px;
}

h2 {
    color: #ff4d79;
    font-size: 45px;
}

p {
    font-size: 30px;
    font-weight: bold;
}

.bg-color {
    color: #0072e6;
    background-color: rgba(102, 255, 140, 0.7);
}

#catch-phrase {
    background-color: rgba(255, 204, 204, 0.7);
    color: #660066;
    text-align: center;
}

#pre-order {
    background-color: rgba(153, 179, 255, 0.7);
}
