body {
    background-image: url("K-pop_boybands.jpg");
    background-color: #ff6699;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #ffff99;
    text-align: center;
    font-size: 100px;
    font-family: "Righteous";
}

h2 {
    color: #ff4d79;
    font-size: 45px;
    text-align: center;
}

p {
    font-size: 30px;
    font-weight: bold;
}

.bg-color {
    color: #0072e6;
    background-color: rgba(102, 255, 140, 0.7);
}

#catch-phrase {
    background-color: rgba(255, 204, 204, 0.7);
    color: #660066;
    text-align: center;
}

#pre-order {
    background-color: rgba(153, 179, 255, 0.7);
}

.pure-input-rounded {
    height: 20px;
    font-size: 14pt;
    border-radius: 2em;
    border-color: skyblue;
    padding: .5em 1em;
}

#order {
    float: left;
    text-align: center;
    font-size: 30px;
    color: #3333cc;
}

.place {
    background-color: rgba(191, 191, 191, 0.8);
    display: inline;
}

#remember {
    color: green;
    text-align: center;
    background-color: #99ffff;
    opacity: 0.7;
}

#feat-list {
    color: #aaff80;
    font-size: 23px;
    background-color: rgba(153, 153, 255, 0.8);
}

h3 {
    text-align: center;
    color: #ff9999;
    font-size: 40px;
}

.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    font-family: "Righteous";
    font-size: 100%;
    padding: .2em 1em;
    color: white;
    background: rgb(28, 184, 65);
    border: 3px solid #99ff99;
    border-radius: 15px;
}

.age {
    background-color: rgba(191, 191, 191, 0.8);
}

#got-7 {
    position: absolute;
    margin: -17px 200px;
}

#bts {
    position: absolute;
    margin: -23px 600px;
    height: 200px;
    width: 350px;
}

#big-bang {
    position: absolute;
    margin: -23px 1050px;
    height: 200px;
    width: 350px;
}